<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary ">
    <a class="navbar-brand my-lg-0" href="{{ path('home') }}">Home</a>
    <div class="collapse navbar-collapse my-lg-0" id="navbarColor01">
        <form method="post" action="{{ path('search') }}" class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" name="search" type="text" placeholder="Search">
            <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>

{% block body %}{% endblock %}
{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}
</body>

</html>
